.wrapper {
  width: 450px;
  height: 450px;
  position: relative;
  background: red;
}

.box {
  width: 150px;
  height: 150px;
  text-align: center;
  line-height: 150px;
  box-sizing: border-box;
  border: 1px solid #000;
}

.box-1 {
    float: right;
    margin-top: 300px;
}

.box-2 {
    float: right;
    margin: 300px 0 0 0;
}
 
.box-3 {
     float: right;
     margin: 150px -300px 0 0;
}

.box-4 {
    float: right;
    margin: 150px -150px 0 0 ;
}

.box-5 {
    float: right;
    margin: -450px 0 0 300px;
}

.box-6 {
    float: right;
    margin: -150px 300px 0 0;
}

.box-7 {
    float: right;
    margin: -450px 150px 0 0;
}

.box-8 {
    float: right;
    margin: -450px 300px 0 0;
}

.box-9 {
    float: right;
    margin: -300px 300px 0 0;
}